* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.header {
    background-color: #008000;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    text-align: center;
}

.content {
    background-color: #0000ff;
    height: 50px;
}