@{
    ViewData["Title"] = "Home Page";
}

<ul>
    <li><a asp-area="" asp-controller="" asp-action="ViewModel">ViewModel</a></li>
    <li><a asp-area="" asp-controller="" asp-action="">ViewBag</a></li>
</ul>
