@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewData["Title"]</h1>
<ul>
    <li><a asp-area="" asp-controller="Home" asp-action="Quiz">Quiz</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="GetResult">Results</a></li>
</ul>
