@{
    ViewData["Title"] = "Forms parameters parsing demo";
}

<h1>@ViewData["Title"]</h1>
<ul>
    <li><a asp-area="" asp-controller="Home" asp-action="Manual">Manual parsing in single action</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="ManualSeparate">Manual parsing in separate actions</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="ModelBinding">Model binding (parameters)</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="ModelBindingSeparate">Model binding (separate Model)</a></li>
</ul>