main {
    background-color: #00ffff;
    margin: 10px;
    position: relative;
}

img {
    float: right;
}

.left-block {
    float: left;
    width: 25%;
}

.navigation {
    background-color: #ffe4c4;
    padding: 25px 0px;
}

.content {
    background-color: #a9a9a9;
    margin-left: 25%;
}

.clearfix {
    clear: both;
}