main {
    background-color: #00ffff;
    margin: 10px;
}

.left-block {
    float: left;
    width: 200px;
}

.left-block .navigation {
    background-color: #ffe4c4;
    padding: 25px 50px;
}

.content {
    background-color: #a9a9a9;
    margin-left: 200px;
}

.footer {
    margin: 0;
    padding: 0;
    background-color: #32cd32;
    height: 46px;
    position: fixed;
    bottom: 0;
    width: 100%;
}